{% load static %}
<!-- /Footer -->
    <footer id="myFooter">
    <div id="first_bar">
        <div class="row">
            <div class="col-sm-4">
                <h5>Get started</h5>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'projects' %}">Projects</a></li>
                    <li><a href="{% url 'solutions' %}">Solutions</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5>Who we are</h5>
                <ul>
                    <li><a href="{% url 'staff' %}">Our Staff</a></li>
                    <li><a href="{% url 'contactUs' %}">Contact Us</a></li>
                    <li><a href="{% url 'overview' %}">ALWAHAJ in Brief</a></li>
                    <li><a href="#">Certificates</a></li>
                </ul>
            </div>

            <div class="col-sm-4 info">
                <h5>ALWAHAJ</h5>
                <p>
                  Alwahaj is a solution provider company that primarily supplies aviation systems
                  and meteorological applications that include airfields, weather-related stations,
                  and climate-change utilities as demanded by the customer’s needs.
                </p>
            </div>
        </div>
    </div>
    <div class="second-bar" id="second_bar">

      <h2 class="logo">
      <!--
        <a href="https://www.vaisala.com/en">
          <img src="{% static 'content/logos/Vaisala_logo.svg' %}" alt="Visala"></a>
        <a href="http://www2.cuny.edu/">
          <img src="{% static 'content/logos/Vaisala_logo.svg' %}" alt="Selex"></a>
      </h2>
      <div class="social-icons">
          <a href="#" class="facebook"><i class="sml fa fa-facebook"></i></a>
      </div>
    -->

    </div>
</footer>
<!-- /Footer -->